// Normalize Styles
@import 'node_modules/font-awesome/scss/font-awesome';
@import 'bootstrap';
@import 'https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700';
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400i,700i';
@import 'bower_components/slick-carousel/slick/slick.scss';
@import 'partials/slick-theme.scss';
@import 'partials/colors';
@import 'partials/utils';
@import 'partials/animations';
@import 'partials/buttons-and-links';
@import '../_modules/client-showcase/client-showcase';
@import '../_modules/header/header';
@import '../_modules/footer/footer';
@import '../_modules/content-list/content-list';
@import 'pages/home';
@import 'pages/servicios';

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

body{
    font-family: 'Raleway', sans-serif;
}

main{
    padding-top: 50px;
}
