header.header
    
    .hamburguer
        span
        span
        span

    .container
        nav
            ul._nav
                li
                    a(href="#") Nosotros
                li
                    a(href="#") Clientes
                li
                    a(href="#") Servicios
                li
                    a(href="#") Productos
                li
                    a(href="#") Contacto
            
        ul._social
            li
                a(href="#")
                    i.fa.fa-facebook
            li
                a(href="#")
                    i.fa.fa-twitter
            li
                a(href="#")
                    i.fa.fa-linkedin
            li
                a(href="#")
                    i.fa.fa-github
            li
                a(href="#")
                    i.fa.fa-skype
            li
                a(href="#")
                    i.fa.fa-whatsapp
            li
                a(href="#")
                    i.fa.fa-envelope
