extends ../_layouts/base

include ../_modules/content-list/content-list

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.servicios

        section._top-hero
            .container
                h1 Servicios que brindamos
                p
                    | En elemsoft estamos comprometidos con es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. 
            
        section.service-list
            .container
                +content-list('serv', site.data.services)
        
