.Btn{

    height: 40px;
    max-width: 300px;
    width:100%;
    display: inline-block;
    border-radius: 5px;
    font-size:18px;
    font-family: 'Raleway', sans-serif;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid;

    &._cta{
        background: transparent;
        height:50px;
        color:inherit;
        border-color: inherit;
        font-size:21px;
        border: 2px solid;
        line-height: 48px;
    }

    &:hover{
        text-decoration: none;
    }
}
